/* .docs-body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(144, 190, 165, 0.5), rgba(5, 68, 34, 0.75)), url("./images/ASI-bg.png");
    
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
} */


.header {
    margin: 0 auto;
    height: 100px;
    display: flex;
    text-align: center;
    padding: 30px;
    padding-left: 8%;
    position: relative;
    background: #054422;
    color: white;
    align-items: center;
    font-size: 30px;
}

#asi-logo {
    height: 70px;
}

.document-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    
    padding: 20px;
    padding-top:1px;
    font-family: arial;
}

.title-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#uploaded-docs-text {
    color: #054422;
    font-size: 23px;
    font-weight: bold;
} 

.search-doc {
    display: flex;
    gap: 10px;
}

#search-field {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DBDBDB;
}

#search-button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #054422;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#generate-excel-button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: #054422;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#generate-excel-button:hover {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.1),0 12px 10px 0 rgba(0,0,0,0.1);
    background-color: rgba(232, 176, 15, 1);;
}

#search-button:hover {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.1),0 12px 10px 0 rgba(0,0,0,0.1);
}

.docs-area {
    height: 550px;
    overflow: scroll; 
}

.list-of-docs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 550px; */
    margin-top: 10px;
}


#uploaded-doc-line {
    width: 1000px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DBDBDB;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    margin:auto;
    height: 70px;
    
}

.doc-number {
    width: 50px;
    overflow: scroll;
}

.doc-uploaderName {
    overflow: scroll;
    width: 180px;
}

.doc-documentType {
    width:20px;
}

.doc-description{
    width: 250px;
    overflow: scroll;
    text-overflow: ellipsis;
}

.doc-buttons {
    /* width: 250px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-overflow: ellipsis;
}

.view-button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: #054422;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.delete-button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    color: rgb(182, 0, 0);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: solid;
    border-width: 2px;
}

.delete-button:hover {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.1),0 12px 10px 0 rgba(0,0,0,0.1);
    background-color: rgba(182, 0, 0, 1);
    color: white;
    border: none;
}

.view-button:hover {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.1),0 12px 10px 0 rgba(0,0,0,0.1);
}

#doc-count {
    margin-top: 50px;
    padding-left:10%;
}